<div class="container lib-flex lib-stack lib-cross-center">
  <mat-card-title>
    <div class="lifetime">
      <img src="../../assets/images/lifetime-logo.svg">
    </div>
    <h1 class="title"><span></span> BASKETBALL</h1>
  </mat-card-title>
  <nav mat-tab-nav-bar class="lib-flex">
    <ng-template [ngIf]="authService.isAuthenticated()">
      <a mat-tab-link
         routerLink="/nextgame">
        Next Game
      </a>
      <a mat-tab-link
         routerLink="/calendar">
        Calendar
      </a>
      <a mat-tab-link
         (click)="onLogout()">
        Logout
      </a>
    </ng-template>
    <ng-template [ngIf]="!authService.isAuthenticated()">
      <a mat-tab-link
         routerLink="/signin">
        Sign In
      </a>
      <a mat-tab-link
         routerLink="/signup">
        Register
      </a>
    </ng-template>
  </nav>
</div>
