@import '../../../src/_globalVariables.scss';

.statusOut{
  color: red;
}

.statusIn{
  color: green;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statusDiv{
  justify-content: space-evenly;
}

.split {
  background-color: $app-grey;
  width: 1px;

}
